body {


  font-family: 'Roboto Condensed', sans-serif;

}

h2 {
  text-transform: uppercase;
  text-align: center;
}
/*..................................................HERO&NAVBAR..........................................................*/

.hero, .navbar {
background-color: #FFA935;
}

.hero p, .hero h1, .hero h2, .navbar a {
  color: #262626;
}
.navbar-brand {
  font-weight:700;
  font-size:20px;
}
.navbar-start .navbar-item {
  font-weight:400;
  font-size:14px;
}
.navbar a:hover {
  background: #FF9E1C;
  color: #262626;
}


.navbar .fas {
  color: #262626;
}
.navbar .button {
  background-color:#262626;
  border: none;
}
.navbar-end .icon .fas{
  color:white;
}


/*..........................................................PROJECTS.................................................*/

#projects h2 {
  color: white;

}

#projects h3 {
  padding-bottom: 20px;
}

#projects {
  padding: 5%;
  background-color:black;
  
}

#projects button {
  background: black;
  color: #FF9E1C;
  border: none
}
#projects button:hover {
  background: #FF9E1C;
  color: #262626;
  opacity: 0.5;
}

.fa-trash {
  color: #FF9E1C;
  display: none;
}


.card .fa-gitlab {
  color: #FF9E1C;
  font-size: 2rem;
  padding: 5%;
}

.card {
  background-color: #1f1f1f;
  color:white;
}


#projects a {
  color: white;
}

#projects .column:hover {
  opacity: 0.3;
}


#wordpress-content {
  padding-top: 10px;
}

#wordpress-git {
  padding-top: 20px;
}

.card-content {
  background-color:rgb(31, 31, 31);
}

.card-content .title {
  padding-bottom:5px;
  color:rgb(187, 187, 187);
  text-transform:uppercase;
}

.card-content .subtitle {
  padding-bottom:10px;
  color:#FF9E1C;
  font-weight: 500;
}


/*..................................................COMP.....................................................*/


progress {
  color: #FF9E1C !important;
}
#comp {
  margin: 0 5%;
  background-color: white;
  color:#262626;
}

#comp h2 {
  padding: 5% 0%;

}

#comp .icon {
  font-size: 3em;
  color: #FF9E1C;
  padding: 10% 5% 15% 5%;

}

#xp {

  background-color: #262626;
}

#xp li {
  color: white;
  font-weight: 300;
}

#xp h2 {
  color: white;
}

section {
  padding:8rem !important;
}

section .title {
  padding-bottom:3rem;
}

.footer {
  padding: 10%;
  background-color: black;
}

.footer .icon {
  color: #FF9E1C;
  font-size: 4em;
}


/* .....................................................TIMELINE...................................................... */



.timeline {
  position: relative;
  width: 660px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 1em 0;
  list-style-type: none;
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 6px;
  height: 100%;
  margin-left: -3px;
  background: rgb(80,80,80);
  background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  z-index: 5;
}

.timeline li {
  padding: 0.2em 0;
}

.timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.direction-l {
  position: relative;
  width: 50%;
  float: left;
  text-align: right;
}

.direction-r {
  position: relative;
  width: 50%;
  float: right;
}

.flag-wrapper {
  position: relative;
  display: inline-block;
  text-align: center;
}

.flag {
  position: relative;
  display: inline;
  color: #FF9E1C;
  padding: 6px 10px;
  border-radius: 5px;
  background-color: black;
  font-weight: 600;
  text-align: left;
}


.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: 60%;
  right: -18px;
  content: ' ';
  display: block;
  width: 12px;
  height: 12px;
  margin-top: -10px;
  background: #FF9E1C;
  border-radius: 10px;
  border: 4px solid black;
  z-index: 10;
}

.direction-r .flag:before {
  left: -18px;
}

.direction-l .flag:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-left-color: black;
  border-width: 8px;
  pointer-events: none;
}

.direction-r .flag:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: black;
  border-width: 8px;
  pointer-events: none;
}

.time-wrapper {
  display: inline;
  
  line-height: 1em;
  font-size: 0.66666em;
  color: #FFA935;
  vertical-align: middle;
}

.direction-l .time-wrapper {
  float: left;
}

.direction-r .time-wrapper {
  float: right;
}

.time {
  display: inline-block;
  padding: 4px 6px;
}

.desc {
  padding-top: 10px; 
  font-style: italic;
  font-size: 300;
  line-height: 1.5em;
}

.direction-r .desc {
  margin: 1em 0 0 0.75em;
}

/* ================ Timeline Media Queries ================ */

@media screen and (max-width: 660px) {

.timeline {
 	width: 100%;
	padding: 4em 0 1em 0;
}

.timeline li {
	padding: 2em 0;
}

.direction-l,
.direction-r {
	float: none;
	width: 100%;

	text-align: center;
}

.flag-wrapper {
	text-align: center;
}

.flag {
	background: rgb(255,255,255);
	z-index: 15;
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: -30px;
	left: 50%;
	content: ' ';
	display: block;
	width: 12px;
	height: 12px;
	margin-left: -9px;
	background: #fff;
	border-radius: 10px;
	border: 4px solid rgb(255,80,80);
	z-index: 10;
}

.direction-l .flag:after,
.direction-r .flag:after {
	content: "";
	position: absolute;
	left: 50%;
	top: -8px;
	height: 0;
	width: 0;
	margin-left: -8px;
	border: solid transparent;
	border-bottom-color: rgb(255,255,255);
	border-width: 8px;
	pointer-events: none;
}

.time-wrapper {
	display: block;
	position: relative;
	margin: 4px 0 0 0;
	z-index: 14;
}

.direction-l .time-wrapper {
	float: none;
}

.direction-r .time-wrapper {
	float: none;
}

.desc {
	position: relative;
	margin: 1em 0 0 0;
	padding: 1em;
	box-shadow: 0 0 1px rgba(0,0,0,0.20);
	
  z-index: 15;
}

.direction-l .desc,
.direction-r .desc {
	position: relative;
	margin: 1em 1em 0 1em;
	padding: 1em;
	
  z-index: 15;
}

section {
  padding: 1rem !important;
}

.footer .icon {
  font-size: 2rem;
}
}

@media screen and (min-width: 400px ?? max-width: 660px) {

.direction-l .desc,
.direction-r .desc {
	margin: 1em 4em 0 4em;
}
}

